<div class="board">
    <div class="row" *ngFor="let row of game.pieces; index as r">
        <app-square *ngFor="let s of row; index as c" [piece]="s" [row]="r" [col]="c" (squareClickedEvent)="onSquareClicked($event)">

        </app-square>
    </div>
</div>
<div class="info">
    <div class="status" [innerHTML]="status"></div>
    <button class="reset" (click)="resetGame()">Reset</button>
</div>
<div class="scoreboard">
    <div class="result-line" [innerHTML]="'X Wins : ' + xWins"></div>
    <br/>
    <div class="result-line" [innerHTML]="'O Wins : ' + oWins"></div>
    <br/>
    <div class="result-line" [innerHTML]="'Draws : ' + draws"></div>
</div>
