#title {
    text-align: center;
}
#input {
    align-content: center;
    width: 50%;
    margin: auto;
}
#company-name {
    display: inline-block;
}
#search-button {
    display: inline-block;
}
#status-text {
    font-size: 24px;
    text-align: center;
}
#result-list {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ShowInfo{
    display: inline-block;
}