#body {
    align-content: center;
    background-color: #DC143C;
}
#title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px #7E0B22;
}
#input {
    align-content: center;
    width: 50%;
    margin: auto;
}
#status-text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px #7E0B22;
}
#result-list {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ShowInfo{
    display: inline-block;
}
#start-game {
    box-shadow: 3px 3px #7E0B22;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}
#reset {
    box-shadow: 3px 3px #7E0B22;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}
#search-count {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px #7E0B22;
}
#input {
    display: flex;  
    justify-content: center;
    align-items: center;
}