#body {
    margin: 0px;
}
#header {
    display: inline-block;
    text-align: center;
    background-color: #0407A7;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#headshot {
    width: 250px;
    height: 200px;
    display: inline-block;
}
a:link {
    color: #B3A369;
}
a:visited {
    color: white;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidenav a {
    display: block;
}
main {
    margin-left: 120px;
}